.dither-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.dither-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
